.page-head {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
  background-image: url("../img/skullmasherio-tile.png");
  padding-top: $spacer-large;
  padding-bottom: $spacer-large;

  @include respond-to("medium-up") {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}

.page-head__layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 850px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: $spacer-large;
  margin-left: auto;
  color: #eee;
  padding: $spacer-small;
  text-shadow: 0px 0px 20px black;

  @include respond-to("tiny-up") {
    flex-direction: row;
  }
}

.page-head__layout--large {
  max-width: 950px;
}

.page-head__logo {
  margin-top: $spacer-medium;

  @include respond-to("medium-up") {
    margin-right: $spacer-large;
  }
}

.svg-logo {
  width: 150px;
}

.page-head__title {
  font-size: 5rem;
  margin-bottom: $spacer-medium;
}

.page-head__tagline {
  font-size: 2.5rem;
}

.page-head__tagline--smaller {
  max-width: 640px;
}

.page-head__action {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: $spacer-large;
  margin-left: auto;

  [class*="btn"] {
    color: $white;
    font-size: 2.4rem;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn--ghost {
    &:hover {
      background-color: $white;
      color: $gray-900;

      svg {
        fill: $gray-900;
      }
    }
  }
}

.page-head__button {
  display: flex;
  align-items: center;
  margin-right: $spacer-medium;
  margin-left: $spacer-medium;
  padding-top: $spacer-medium;
  padding-right: $spacer-large;
  padding-bottom: $spacer-medium;
  padding-left: $spacer-large;

  svg {
    width: 45px;
    fill: $white;
  }

  span {
    margin-left: $spacer-medium;
  }
}

