.services {
  padding-top: $spacer-large;
  padding-bottom: $spacer-large;
}

.service {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-top: $spacer-large;
  margin-right: auto;
  margin-bottom: $spacer-large;
  margin-left: auto;
  background-color: $white;
  padding-top: $spacer-medium;
  padding-right: $spacer-large;
  padding-bottom: $spacer-medium;
  padding-left: $spacer-large;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
}

.services__picture {
  margin-right: $spacer-large;
  .svg-computerspeed {
    width: 150px;
  }
}
.service__price {
  align-self: center;
  margin-left: $spacer-large;
  font-size: 6rem;
  color: $color-primary;
}
