.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.box-center-fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width:100%; // https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one
  background-color: #333;
  padding: $spacer-small;
}

.card {
  max-width: 1200px;
  background-color: #eee;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 850px;
  margin: 0 auto;
  color: #eee;
  padding: $spacer-small;
  text-shadow: 0px 0px 20px black;

  @include respond-to("tiny-up") {
    flex-direction: row;
  }
}

.logo {
  margin-top: $spacer-medium;

  @include respond-to("medium-up") {
    margin-right: $spacer-large;
  }
}

.svg-logo {
  width: 150px;
}


.contact {
  margin-top: $spacer-large;
  margin-bottom: $spacer-large;
  display: flex;
  align-items: center;
}

.contact__qrcode {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  width: 200px;
  height: 200px;
  border-radius: 5px;

  .svg-qrcode {
    border-radius: 5px;
    width: 200px;
    height: 200px;
  }
}

.nevermore {
  margin-left: $spacer-large;

  svg {
    width: 55px;
  }
}

.contact__btn {
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);

  p{
    flex-grow:1;
    margin-bottom: 0;
    color: white;
    font-size: 2rem;

  }
}

.contact__picto {
    margin-right: $spacer-medium;
  // background-color: #fff;
}

.contact__phone {
  margin-bottom: $spacer-large;
  p {
    font-size: 3rem;
  }

  svg {
    fill: white;
  }
}

.contact__mail {
  color: #000;
}
